@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import 'variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: $font-size-regular;
	font-weight: $font-weight-regular;
	scrollbar-color: $color-primary $color-scroll-background;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 5px;
		height: 27px;
	}

	&::-webkit-scrollbar-thumb {
		background: $color-primary;
	}

	&::-webkit-scrollbar-track {
		background: $color-scroll-background;
	}
}