// colors
$color-primary: #335566;
$color-primary-hover: #214456;
$color-input-active: #37DEFB;
$color-scroll-background: #E0E5EC;
$color-disabled: #A3B1C6;
$color-error: #CA163A;
$color-white: #FFF;

// font-sizes
$font-size-h1: 35px;
$font-size-text-focus: 20px;
$font-size-regular: 16px;

// font-weight
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;



